/* Fonts */



/* General */

html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: #419bea;
  text-decoration: none;
}

.flex-list {
  display: flex;
}

.button {
  background-color: #808080;
  color: #fff;
  text-align: center;
  padding: 8px 0;
}

.mobile {
  display: none;
}

/* Header */

#main {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 64px;
}

#main #logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#main #logo > a {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 100%;
}

#title {
  font-weight: bold;
}

#main #action {
  display: flex;
  align-items: center;
}

#main li {
  padding: 0 16px;
}

#main a {
  color: inherit;
}
